<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Reservacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Codigo</ion-label>
            <ion-input formControlName="codigo"></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['codigo']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('codigo').hasError(validation.type) && (myForm.get('codigo').dirty || myForm.get('codigo').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre Cliente</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['nombre']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('nombre').hasError(validation.type) && (myForm.get('nombre').dirty || myForm.get('nombre').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono"></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['telefono']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('telefono').hasError(validation.type) && (myForm.get('telefono').dirty || myForm.get('telefono').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha de Ingreso</ion-label>
            <ion-datetime
              [(ngModel)]="myDate"
              [min]="today"
              displayFormat="	YYYY-MM-DD"
              formControlName="fechaIni"
            ></ion-datetime>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['fechaIni']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('fechaIni').hasError(validation.type) && (myForm.get('fechaIni').dirty || myForm.get('fechaIni').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Fecha de Salida</ion-label>
              <ion-datetime
                [(ngModel)]="myDate2"
                [min]="today2"
                displayFormat="	YYYY-MM-DD"
                formControlName="fechaEgr"
              ></ion-datetime>
            </ion-item>
            <div>
              <ng-container
                *ngFor="let validation of validationMessages['fechaEgr']"
              >
                <div
                  class="errormessage"
                  *ngIf="myForm.get('fechaEgr').hasError(validation.type) && (myForm.get('fechaEgr').dirty || myForm.get('fechaEgr').touched)"
                >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Habitacion</ion-label>
            <ion-select interface="popover" formControlName="habitacion">
              <ion-select-option value="Leon">Leon</ion-select-option>
              <ion-select-option value="Elefante">Elefante</ion-select-option>
            </ion-select>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['habitacion']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('habitacion').hasError(validation.type) && (myForm.get('habitacion').dirty || myForm.get('habitacion').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Token</ion-label>
            <ion-input formControlName="tokens"></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationMessages['tokens']"
            >
              <div
                class="errormessage"
                *ngIf="myForm.get('tokens').hasError(validation.type) && (myForm.get('tokens').dirty || myForm.get('tokens').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            color="success"
            (click)="validarFecha()"
            expand="block"
            shape="round"
            [disabled]="!myForm.valid"
          >
            <ion-icon name="checkmark-outline"></ion-icon>&nbsp;
            <ion-label class="txtWhite">Guardar</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
