<form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input
    class="login-password"
    formControlName="codigo"
    type="password"
    placeholder="Codigo"
    (keyup.enter)="loginPrueba()"
    id="password"
    [(ngModel)]="credenciales.ingreso"
  />
  <input
    type="submit"
    name="Login"
    class="login-submit"
    value="Ingresar"
    (click)="loginPrueba()"
  />
</form>

<div class="underlay-photo"></div>
<div class="underlay-black"></div>
