<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{huesped.nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item class="select">
    <ion-label> {{"Idioma" | translate}} </ion-label>
    <ion-select cancelText="Cancel" (ionChange)="changeLang($event)">
      <ion-select-option *ngFor="let lang of langs">{{lang}}</ion-select-option>
      <ion-select-option>Ingles</ion-select-option>
      <ion-select-option>Frances</ion-select-option>
      <ion-select-option>Español</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"Bienvenido" | translate}} {{huesped.nombre}} {{"Gracias" | translate}} {{huesped.habitacion}}
      </ion-card-title>
      <ion-card-subtitle>{{"Actividades" | translate}}</ion-card-subtitle>
      <ion-select interface="popover">
        <ion-select-option>{{"Paseo en lancha"| translate }}</ion-select-option>
        <ion-select-option>{{"Kayak"| translate }}</ion-select-option>
        <ion-select-option>{{"Caminata" | translate}}</ion-select-option>
      </ion-select>
    </ion-card-header>
  </ion-card>
</ion-content>
