/*algo del swiper*/
@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';
@import '@ionic/angular/css/ionic-swiper';

ion-img{
    width: 600px;
    height: 500px;
    align-items: center;
    @media (max-width: 650px){
      height: 30vh;
      width: 30vh;
    }
  
    @media (max-width: 480px){
      height: 20vh;
      width: 20vh;
    }
  }