<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"Reglamento" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"Comidas" | translate}}</ion-card-title>
      <ion-accordion-group expand="inset">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>{{"Recomendaciones"| translate }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            {{"Resta1"| translate }} <br />
            {{"Resta2"| translate }} <br />
            {{"Resta3"| translate }} <br />
            {{"Resta4"| translate }}
          </div>
        </ion-accordion>
      </ion-accordion-group>
    <ion-card-title>{{"Laguna" | translate}}</ion-card-title>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>{{"Leyenda"| translate }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{"LeyendaP1"| translate }} <br><br>
          {{"LeyendaP2"| translate }} <br><br>
          {{"LeyendaP3"| translate }} <br><br>
          {{"LeyendaP4"| translate }} <br><br>
          {{"LeyendaP5"| translate }} <br><br>
          {{"LeyendaP6"| translate }} <br><br>
          {{"LeyendaP7"| translate }} <br><br>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-card-title>{{"Historia" | translate}}</ion-card-title>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>{{"Historia"| translate }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{"Historia1"| translate }} <br><br>
          {{"Historia2"| translate }} <br><br>
          {{"Historia3"| translate }} <br><br>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-card-title>{{"Historia" | translate}}</ion-card-title>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>{{"Historia"| translate }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{"Historia1"| translate }} <br><br>
          {{"Historia2"| translate }} <br><br>
          {{"Historia3"| translate }} <br><br>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-card-title>{{"LaLaguna" | translate}}</ion-card-title>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>{{"LaLaguna"| translate }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{"LaLaguna1"| translate }} <br><br>
          {{"LaLaguna2"| translate }} <br><br>
          {{"LaLaguna3"| translate }} <br><br>
          {{"LaLaguna4"| translate }} <br><br>
          {{"LaLaguna5"| translate }} <br><br>
          {{"LaLaguna6"| translate }} <br><br>
          {{"LaLaguna7"| translate }} <br><br>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-card-title>{{"TelefonosEmer" | translate}}</ion-card-title>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>{{"Telefonos"| translate }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{"Tel1"| translate }} <br><br>
          {{"Tel1A"| translate }} <br><br>
          {{"Tel1B"| translate }} <br><br>
          {{"Tel2"| translate }} <br><br>
          {{"Tel2A"| translate }} <br><br>
          {{"Tel3"| translate }} <br><br>
          {{"Tel4"| translate }} <br><br>
          {{"Tel5"| translate }} <br><br>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </ion-card-header>
  </ion-card>
</ion-content>