<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"Reglamento" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"Comidas" | translate}}</ion-card-title>
      <ion-accordion-group expand="inset">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>{{"Recomendaciones"| translate }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            {{"Resta1"| translate }} <br/>
            {{"Resta2"| translate }} <br/>
            {{"Resta3"| translate }} <br/>
            {{"Resta4"| translate }}
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-header>
  </ion-card>
</ion-content>